In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import os 
import seaborn as sns

In [2]:
#os.chdir('C:\\Users\\Hp\\Desktop\\Pyt_language\\machine-learning\\House_price')
df = pd.read_csv('house_pricedata.csv')
df

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.00,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.00,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.00,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.00,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.00,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7115,3.0,2.0,325.00,2900.0,3,11206.896552,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7116,3.0,1.0,84.83,1780.0,3,4765.730337,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7117,2.0,1.0,48.00,880.0,2,5454.545455,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
7118,2.0,1.0,55.00,1000.0,2,5500.000000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7119,2.0,1.0,78.00,1400.0,3,5571.428571,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df.shape

(7120, 108)

In [4]:
x = df.drop('price',axis=1)
x

,bath,balcony,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,location_Whitefield,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,1672.0,3,8971.291866,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,1750.0,3,8514.285714,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,1750.0,3,8571.428571,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,1250.0,2,3200.000000,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,1200.0,2,6916.666667,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7115,3.0,2.0,2900.0,3,11206.896552,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7116,3.0,1.0,1780.0,3,4765.730337,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7117,2.0,1.0,880.0,2,5454.545455,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
7118,2.0,1.0,1000.0,2,5500.000000,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7119,2.0,1.0,1400.0,3,5571.428571,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
y = df.iloc[:,2]
y

0       150.00
1       149.00
2       150.00
3        40.00
4        83.00
         ...
7115    325.00
7116     84.83
7117     48.00
7118     55.00
7119     78.00
Name: price, Length: 7120, dtype: float64

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size =0.2,random_state = 50)
x_test

,bath,balcony,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,location_Whitefield,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
3813,1.0,0.0,825.0,1,4398.787879,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2623,3.0,2.0,1754.0,3,7069.555302,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5318,2.0,1.0,1450.0,3,4620.689655,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6292,4.0,2.0,2072.0,3,7480.694981,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2354,3.0,2.0,1750.0,3,7428.571429,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
768,2.0,1.0,1900.0,3,8947.368421,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6591,2.0,2.0,1200.0,2,4333.333333,0,1,0,1,0,...,0,0,1,0,0,0,0,0,0,0
4368,2.0,3.0,1315.0,2,5627.376426,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3090,2.0,1.0,1196.0,2,3745.819398,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5017,2.0,2.0,1480.0,3,5675.675676,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
print('shape of x_train=',x_train.shape)
print('shape of y_train=',y_train.shape)
print('shape of x_test=',x_test.shape)
print('shape of y_test=',y_test.shape)

shape of x_train= (5696, 107)
shape of y_train= (5696,)
shape of x_test= (1424, 107)
shape of y_test= (1424,)

In [22]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=100, criterion='squared_error')
regressor.fit(x_train,y_train)

RandomForestRegressor()

In [23]:
regressor.score(x_test,y_test)

0.9630120182495503

predict the value of home

In [13]:
x_test.iloc[-1,:]

bath                              2.000000
balcony                           2.000000
total_sqft_int                 1480.000000
bhk                               3.000000
price_per_sqft                 5675.675676
                                  ...
location_Hosur Road               0.000000
location_Horamavu Banaswadi       0.000000
location_Domlur                   0.000000
location_Mahadevpura              0.000000
location_Tumkur Road              0.000000
Name: 5017, Length: 107, dtype: float64

In [24]:
regressor.predict([x_test.iloc[-1,:]])

C:\Users\Abhinav\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([84.2632])

In [25]:
y_test.iloc[-1]

84.0

predict the price for multiple houses

In [16]:
y_pred = regressor.predict(x_test)
y_pred

array([ 36.0182, 125.8   ,  66.4198, ...,  73.4917,  48.3055,  86.8397])

In [17]:
y_test

3813     36.29
2623    124.00
5318     67.00
6292    155.00
2354    130.00
         ...
768     170.00
6591     52.00
4368     74.00
3090     44.80
5017     84.00
Name: price, Length: 1424, dtype: float64